* {
  margin: 0px;
  font-family: Roboto, "system-ui", sans-serif;
}
/* --------------------------------------------header part---------------------------------------------- */
/* --------------------------------------------header part---------------------------------------------- */

/* ---------------------------nav bar end--------------------------------- */
/* ---------------------------nav bar end--------------------------------- */

#navhead {
  height: 30px;
  width: 100%;
  background-color: #f9f9fa;
}

#navhead > a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  line-height: 30px;
}

#part {
  height: 800px;
  width: 100%;
  display: flex;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

#left {
  height: 600px;
  width: 35%;
}

/* #first-box{height:320px;} */

#first-box > img {
  height: 300px;
  width: 65%;
  display: block;
  margin: auto;
}

#second-box {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-button {
  height: 100px;
  width: 7%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#hoverimg1 > img,
#hoverimg2 > img,
#hoverimg3 > img {
  height: 100px;
}

#right-button {
  height: 100px;
  width: 7%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cent {
  margin: auto;
  font-size: 30px;
}

/* right side box */

#right {
  height: 800px;
  width: 63%;
  margin-left: 2%;
}

#right-head {
  height: 160px;
  border-bottom: 0.5px solid grey;
}

.clr {
  color: #ffa41b;
}

#right-head > p {
  margin-top: 10px;
  color: grey;
}

#right-head > h4 {
  font-size: 20px;
}

.review {
  color: #1f4985;
  font-weight: bold;
}

.checkbox {
  height: 20px;
  width: 20px;
}

#right-head > span {
  margin-left: 10px;
}

.compare {
  font-size: 20px;
}

.short-line {
  font-size: 25px;
}

.long-line {
  font-size: 30px;
}

.share {
  color: #337ab7;
  font-size: 25px;
}

/* parts of right side */

#right-box {
  height: 600px;
  width: 100%;
  display: flex;
}

#left-side {
  height: 600px;
  width: 50%;
  border-right: 0.5px solid grey;
}

#left-side {
  height: 600px;
  width: 50%;
}

h5 {
  margin-top: 10px;
  font-size: 17px;
  margin-left: 23px;
}

ul {
  color: grey;
}

ul li {
  margin-top: 10px;
}

.color {
  color: #337ab7;
  text-decoration: none;
}

.color:hover {
  text-decoration: underline;
}

.see-more {
  margin-left: 20px;
}

.see-more:hover {
  text-decoration: underline;
}

strong {
  margin-left: 20px;
}

#pincode {
  border: 1px solid blue;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pin {
  height: 25px;
  border: none;
}

.btn1 {
  height: 40px;
  width: 40%;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #e42529;
}
.btn1:hover {
  background-color: #1f4985;
}

.btn2 {
  height: 40px;
  width: 40%;
  margin-top: 10px;
  border: none;
  color: white;
  margin-left: 8px;
  border-radius: 5px;
  background-color: #fc6027;
}

.strike {
  text-decoration: line-through;
}

.greentext {
  color: #467348;
  font-size: 20px;
  font-weight: bold;
}

#right-side {
  padding: 20px;
}

#right-side > h4 {
  font-size: 25px;
  color: #1f4985;
}

/* middle section part */

#nav-middle {
  height: 40px;
  width: 30%;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.hold-border {
  border-top: 4px solid #337ab7;
  height: 40px;
}

#nav-middle > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#nav-middle > div:hover {
  border-top: 4px solid #337ab7;
  height: 40px;
}

/* middle-container */
#middle-box {
  width: 77%;
}
#middle-box > p {
  margin-left: 20px;
  margin-top: 10px;
  color: grey;
}

#middle-box > h4 {
  margin-left: 20px;
  margin-top: 20px;
}

.camera-photp {
  width: 70%;
}

.camera-photo > img {
  display: block;
  margin: auto;
  margin-top: 20px;
}

img ~ p {
  text-align: center;
  color: grey;
}

.images {
  height: 350px;
  width: 100%;
  margin-top: 30px;
}

#fcontainer {
  height: 500px;
  width: 100%;
  font-family: Roboto, "system-ui", sans-serif;
  background-color: #1f4985;
  margin: auto;
  display: flex;
  position: relative;
}
.box1 {
  height: 430px;
  width: 25%;
  /* border: 1px solid black; */
  color: white;
}
.box1 > p {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 35px;
}
.box1 > h3 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 35px;
}
.box2 {
  height: 300px;
  width: 25%;
  /* border: 1px solid black; */
  color: white;
}
.box2 > h3 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 35px;
}
.box2 > p {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 35px;
}
.box3 {
  height: 300px;
  width: 25%;
  /* border: 1px solid black; */
  color: white;
}

.box3 > h3 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 35px;
}
.box3 > p {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 35px;
}

.box4 {
  height: 430px;
  width: 25%;
  color: white;
}

.box4 > h3 {
  margin-top: 20px;
  font-size: 20px;
  margin-left: 35px;
}
.box4 > p {
  margin-top: 20px;
  font-size: 16px;
  margin-left: 35px;
}

.box5 > img {
  height: 38px;
  background-color: #1f4985;
  margin-bottom: 90px;
  margin-left: 35px;
  border-radius: 5px;
}

.box5 {
  /* height: 25%;s */
  width: 25%;
  /* border: 1px solid yellow;    */
  position: absolute;
  bottom: 50px;
  left: 350px;
  bottom: -15%;
  color: white;
}

.box5 > img {
  margin-top: 20px;
  width: 38%;
  height: 40%;
  margin-left: 0px;
  margin-inline: 5px;
  /* border: 2px solid red; */
}
.fa-facebook-f {
  margin: 20px;
  margin-right: 10px;
  margin-left: 40px;
}
.fa-twitter {
  margin: 20px 10px;
}
.fa-youtube {
  margin: 20px 10px;
}
hr {
  margin-top: 15px;
  border: 0.01px solid;
}
.box6 {
  height: 80px;
  width: 100%;
  border: none;
  border: 1px solid #0a244a;
  background-color: #0a244a;
  margin-top: none;
}
.box6 > p {
  margin-top: 15px;
  color: white;
  text-align: center;
}

.logo {
  position: absolute;
  left: 50px;
  top: 22px;
  width: 180px;
}

/* --------------------------------------------------------------------------------- */
